/* line 8, ../scss/styles.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 13, ../scss/styles.scss */
body, #container {
  width: 100%;
  height: 100%;
  background: #fffeff;
  font-family: "Georgia", "Times", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1em;
}

/* line 24, ../scss/styles.scss */
nav {
  position: fixed;
  display: block;
  overflow: hidden;
  width: 218px;
  height: 95%;
  border: 16px #fffeff solid;
  border-bottom: 32px;
  font-family: "Georgia", "Times", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
/* line 38, ../scss/styles.scss */
nav div {
  margin: 16px;
}
/* line 42, ../scss/styles.scss */
nav ul {
  padding: 0;
  margin-before: 0;
  margin-after: 0;
}
/* line 47, ../scss/styles.scss */
nav ul li {
  margin-bottom: 4px;
}

/* line 53, ../scss/styles.scss */
#main {
  position: absolute;
  left: 218px;
  width: auto;
  margin: 16px 16px 0 32px;
}
/* line 60, ../scss/styles.scss */
#main > div {
  margin: 16px 16px 0 16px;
}

/* line 65, ../scss/styles.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
