section.about {
  max-width: 500px;
  
  .key {
    width: 6em;
  }
  
  .value a {
    font-weight: bold;
  }
}

.about-left {
  //float: left;
  //width: 150px;
}

.about-right {
  //width: 600px;
  //float: left;
}

.inline-icon {
  display: block;
  margin-top: 8px;
  font-size: $base-font-size;
  
  &:before {
    font-size: $base-font-size + 10px;
    margin-right: 0.25em;
  }
}

.skills+.skills {
  margin-top: 1em;
}

.skill-code {
  
  @extend .icon-code;
  &:before {
    width: $base-font-size + 4px;
    font-size: $base-font-size - 2px;
    color: #c8a9d5;
    margin-right: 0.5em;
  }
}

.skill-other {
  
  @extend .icon-star;
  &:before {
    width: $base-font-size + 4px;
    color: #c8a9d5;
    margin-right: 0.25em;
  }
}
