section.about {
  max-width: 500px;
  
  .key {
    width: 6em;
  }
  
  .value a {
    font-weight: bold;
  }
}

.about-left {
  //float: left;
  //width: 150px;
}

.about-right {
  //width: 600px;
  //float: left;
}