section.about {  
  .key {
    width: 6em;
  }
}

#introduction {
  max-width: $main-width * 0.75;
  width: 100%;
  font-size: $base-font-size - 1;
  margin-bottom: $gutter;
  
  p {
    line-height: 1.85;
  }
}

#history, #accounts {
  li {
    float: left;
    width: 100%;
  }
  
  .key {
    width: 110px;
  }
}

#history {
  @media screen and(max-width: $main-width * 0.6) {
    .key {
      float: none;
      font-size: $base-font-size - 1;
      margin-bottom: 1px;
    }
    
    li {
      margin-bottom: 4px;
    }
  }
}

.inline-icon {
  display: block;
  margin-top: 8px;
  font-size: $base-font-size;
  
  &:before {
    font-size: $base-font-size + 10px;
    margin-right: 0.25em;
  }
}

.skills {
  float: left;
  width: 100%;
  
  li {
    float: left;
    width: 100%;
  }
  
  div {
    overflow: hidden;
  }
  
  .icon {
    overflow: auto;
    float: left;
    color: #c8a9d5;
    
    &:before {
      color: #c8a9d5;
    }
  }
}

.skills+.skills {
  margin-top: 1em;
}

.skill-code .icon {
  @extend %icon-code;
  
  &:before {
    width: $base-font-size + 4px;
    font-size: $base-font-size - 2px;
    margin-right: 0.5em;
  }
}

.skill-other .icon {
  @extend %icon-star;

  &:before {
    width: $base-font-size + 4px;
    color: #c8a9d5;
    margin-right: 0.25em;
  }
}
