@charset 'UTF-8';

header {
  width: 100%;
}

.header-line {
  z-index: -100;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  background: $common-line-violet; //$common-line-gray; $common-violet;
}

#menubar {
  @extend %centered;
  padding-top: $gutter * 3;
  height: 32px;
}

$home-icon-size: 60px;

#menu {
  height: $home-icon-size - (($base-font-size + 2px) + 14px);
  font-family: 'Open Sans', $sans-serif;
  //border-bottom: 1px solid $common-violet;
}

header a{

  display: block;
  float: left;

  height: 31px;
  margin-left: 0;
  margin-top: 0;
    
  text-align: center;
  font-size: $base-font-size + 3px;

  &:hover {
    // background-color: #EEEEEE;
  }
}

#menu .tab {
  float: right;
  padding-left: 14px;
  padding-right: 14px;

  @media screen and(max-width: $main-width - 270px){
    padding-left: 10px;
    padding-right: 10px;
  }
  
  padding-top: 14px;
  margin-top: -14px;

  font-weight: 600;
  color: $common-black;

  &:hover {
    color: gray;
  }
  &.active {
    height: 31px - 1px;
    margin-right: - 1px;

    border: 1px solid $common-hover-violet;//#E1E1E1;
    border-right-color: $common-hover-violet;//#DDDDDD;
    border-bottom-color: $background-white;        

    background-color: $background-white;
    color: $common-violet;

    &:hover {
      //border-color:  $common-violet;//#DADADA;
      //border-right-color: $common-violet;//#CACACA;
      border-bottom-color: $background-white;
      color: $common-hover-violet;
    }
  }
}

#home {
  width: $home-icon-size;

  margin-top: -14px;
  height: $home-icon-size - 15px;

  margin-right: 1em;

  background: image-url('home.gif') gray;
  color: $common-violet;

  &:hover {
    margin-top: -19px;      
    height: $home-icon-size - 10px;
  }

  &.active {
    height: $home-icon-size;
    margin-top: -$home-icon-size + ($base-font-size + 2px) + 14px;

    background-color: $common-violet;
    color: $common-white;

    &:hover {
      margin-top: -$home-icon-size + ($base-font-size + 2px) + 10px;
      height: $home-icon-size + 4px;
    }
  }
}

#webservices {
  float: right;
  margin-left: $gutter * 1.5;
  
  @media screen and(max-width: $main-width - 120px){
    margin-left: $gutter * 0.5;
  }
  @media screen and(max-width: $main-width - 270px){
    margin-left: 0;
  }
  
  a {
    padding: 0;
    margin-right: 0;
    margin-left: $gutter;
    font-size: $base-font-size + 5px;
    border-bottom: none;
  }
  
  .github, .twitter {
    &:before {
      // color: $common-violet;
    }
  }

  .github {
    margin-top: -38px + $base-font-size;
    font-size: 38px;
  }

  .twitter {
    margin-top: -32px + $base-font-size;
    font-size: 32px;
  }
}

.github {
  @extend .icon-github;
}
.twitter {
  @extend .icon-twitter;    
}
