header {
  width: 100%;
  // background-color: #F3F0F9;
  //background: $background-white;
  //background: linear-gradient(to left, #F7F8F8 0%, $background-white 80%);
}

.header-line {
  z-index: -100;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  background-color: $common-line-gray;
}

#menubar {
  overflow: hidden;
  padding-top: $gutter * 2;
  height: 32px;
}

$home-icon-size: 45px;

#menu {
  height: $home-icon-size - (($base-font-size + 2px) + 14px);
  font-family: 'Muli', 'Open Sans', $sans-serif;
  //border-bottom: 1px solid $common-violet;
}

#home {
  width: $home-icon-size;
  height: $home-icon-size;
  margin-top: $home-icon-size - 52px;
  margin-left: 8px;
  background: image-url('logo.svg');
  
  @media screen and(max-width: $main-width * 0.5){
    display: none;
  }
}

#menubar a {

  display: block;
  float: left;

  height: 31px;
  margin-left: 0;
  margin-top: 0;
    
  text-align: center;
  font-size: $base-font-size + 3px;

  &:hover {
    // background-color: #EEEEEE;
  }
}

#tabs {
  float: right;
  @media screen and(max-width: $main-width * 0.5){
    float: left;
  }
}

#tabs > a {
  height: 31px - 1px;// - 1px

  padding-left: 12px;
  padding-right: 12px;
  
  font-weight: 300;

  @media screen and(max-width: $main-width - 270px) {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  padding-top: 8px;
  margin-top: -7px;

  color: $common-black;

  &:hover {
    color: gray;
    //text-decoration: underline;
  }
  &.active {
    //margin-right: - 1px;
    color: $common-violet;
    
    &:hover {
      color: $common-hover-violet;
    }
  }
}

#webservices {
  //@extend #tabs;

  float: right;
  padding-left: $gutter * 0.5;
  
  @media screen and(max-width: $main-width - 270px) {
    padding-left: $gutter * 0.25;
  }

  @media screen and(min-width: $main-width + 1px) {
  
    a:before {
      display: none;
    }
  }
  
//  @media screen and(max-width: $main-width) {
    a {
      padding: 0;
      margin-left: $gutter * 0.75;
      
      @media screen and(max-width: $main-width - 270px) {
        margin-left: $gutter * 0.5;
      }
      
      margin-right: 0;
      border-bottom: none;
      
      &:before {
        display: inline-block;
      }
    
      > span {
        display: none;
      }
    }
  
    .github {
      margin-top: -28px + 3px + $base-font-size;
      font-size: 28px;
    }

    .twitter {
      margin-top: -23px + 3px + $base-font-size;
      font-size: 23px;
    }
//  }
}

.github {
  @extend .icon-github;
}
.twitter {
  @extend .icon-twitter;    
}

header > nav {
  > div {
    margin-top: 12px;
  }
}

#first-location, #second-location {
  font-size: 14px;
  color: $common-text-gray;
}
