#vertical-line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 0;
  //background-color: $common-hover-violet;
  background-color: #DDDDDD;
}

.intersection {
  clear: both;
  
  .point {
    overflow: auto;
    
    width: 12px;
    min-height: 8px;
    float: left;
  }
}
