@charset 'UTF-8';

.project-menu {
  $_width: $main-width * 1/6;
  $_icon-size: $base-font-size + 6px;
  
  float: left;
  width: $_width;
  
  .back, .prev, .next {
    display: block;
    float: left;

    width: $_width;
    height: $_icon-size;

    div {
      padding-top: ($_icon-size - $base-font-size) * 0.5;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: $base-font-size - 1px;
    }
    
    .icon {
      float: left;
      padding-top: 0;
      overflow: visible;
    }
    
    .icon:before {
      margin-right: 8px;
      margin-left: 2px;
      color: $common-violet;
      font-size: $_icon-size;
    }
  }
  
  %back {
    //float: left;
    width: $main-width * 0.25;
    margin-bottom: 18px;
  }
  
  .next {
    //float: right;
    margin-bottom: 4px;
    
    .icon {
      @extend .icon-right-circled;
    }
  }

  .prev {
    //float: left;

    .icon {
      @extend .icon-left-circled;
    }
  }
}

#number {
  float: right;
  line-height: 1;
  color: $common-text-gray;
  font-family: 'Open Sans', $sans-serif;
  font-size: $base-font-size + 1px;
}

#project-title {
  @extend #page-title;
  
  margin-bottom: 12px;
}

#project-info {
  margin-top: -0.5em;
  margin-bottom: $gutter * 1.5;

  font-size: $base-font-size - 1px;
  color: gray;
  
  p {
    text-align: center;
  }
  
  .bar {
    margin: 0 0.6em;
    color: #C0C0C0;
    // border-left: solid 1px #C0C0C0;
  }
}

.image-wrapper {
  width: 100%;
  height: 0;
  overflow: hidden;
  //background-color: $common-gray;
  @include image-shadow;
  
  .project-image {
    height: 100%;
    box-shadow: none;
  }
}

.project-image {
  width: 100%;
  //margin-left: 5%;
  @include image-shadow;
}

#project-inf {
  width: 0%;
  float: left;
}

#project-details {
  width: 80%;
  margin-top: $gutter;
  margin-left: 10%;  
  
  @media screen and(max-width: $main-width * 0.92){
    width: 100%;
    margin-left: 0;
  }
}

#project-details .links {
  $link-height: ceil($base-font-size * 1.6);
  $radius: 2px;

  .key {
    width: 100%;
    margin-right: 0;
    
    &:first-child {
      margin-bottom: 4px;
    }
  }
  
  .key div{
  	position: relative;
    background-color: $head-decoration-violet;
    // background-color: $common-violet;
    font-size: $base-font-size - 2px;
    //font-weight: bold;
    height: $link-height;
    line-height: 2.0;
    color: $common-white;
    padding: 0 12px;
    border-radius: $radius 0 0 $radius;
    //color: $common-violet;
  }
  
  .value {
    > div {
    	position: relative;
      background: #F9F9F9;
      background: linear-gradient(
        to right,
        darken(#F9F9F9, 0.2) 0%,
        darken(#F9F9F9, 0) 89%);
      height: $link-height;
      border-radius: 0 $radius $radius 0;
      padding-right: 18px;
      padding-left: 12px;
      margin-bottom: 3px;
      
      > a {
        line-height: 1.8;
        font-size: $base-font-size - 1px;
        text-shadow: 0 1px 2px $common-white;
      }
    }
  }
}

#description {
  margin-top: $gutter;
  font-size: $base-font-size - 1;
  
  .header-rect {
    background-color: $common-gray;
    height: 200px;
  }
  
  p {
    margin-top: 0.5em;
    line-height: 1.85;
    //color: #505050;
    // text-indent: 1em;
  }
  
  hr.line-wide {
    max-width: 86%;
    margin-left: 7%;
  }
}

aside {
  hr.line-wide {
    max-width: 88%;
    margin-left: 6%;
  }
  
  .project-image, .image-wrapper {
    margin-bottom: $gutter * 2;
    
    &:first-child {
      margin-top: $gutter * 2;
    }
  }
  
  .image-wrapper {
    > .project-image {
      margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
