@charset 'UTF-8';

.project-info {
  margin-top: -0.5em;
  margin-bottom: $gutter;

  font-size: $base-font-size - 1px;
  color: gray;
  
  p {
    text-align: center;
  }
  
  span {
    //float: left;
  }
  
  .bar {
    margin: 0 0.6em;
    color: #C0C0C0;
    // border-left: solid 1px #C0C0C0;
  }
}

.project-image {
  width: 100%;
  //margin-left: 5%;
}

#slider {
  float: left;
  width: 80%;
  
  margin-right: $gutter * 2;
}

#slider-select {
  .pager {
    display: block;
  }
  
  a {
    margin-bottom: $gutter * 0.5;
  }
  img {
    width: 14%
  }
}

.project-links {
  li {
    margin-left: 10%;
  }
  
  div {
    float: left;
    margin-right: 1em;
    font-size: $base-font-size - 1px;
  }
}

.features {
  margin-top: 1.5em;
  
  li {
    @extend .icon-ok;
    margin-left: 10%;
    font-size: $base-font-size - 1px;
    
    &:before {
      color: #b728cc;
      margin-right: 0.5em;
    }
  }
}
p.skill-code {
  margin-top: 1.0em;
  
  &:before {
    color: #b728cc;
  };
}

.project-description {
  margin-top: $gutter;
  font-size: $base-font-size - 1px;
  
  .header-rect {
    background-color: $common-gray;
    height: 200px;
  }
  
  p {
    max-width: 80%;
    margin-left: 10%;
    
    @media screen and(max-width: $main-width * 0.92){
      max-width: none;
      margin-left: 0;
    }
    
    margin-top: 0.5em;
    line-height: 1.86;
    color: #505050;
    // text-indent: 1em;
  }
}
