@charset 'UTF-8';

$grid-gutter: $gutter * 2;

// TODO: グリッドのモジュール化
@mixin grid-parent {
  margin-left: -$grid-gutter;
}

@mixin grid-child($item-width) {
  float: left;

  width: 25%;

  margin-left: $grid-gutter;
  margin-right: -$grid-gutter;
  
  & > * {
    display: block;
    width: percentage($item-width / ($item-width + $grid-gutter));
  }
}

#projects {
  margin-top: -$gutter;
  padding-top: $gutter;
  position: relative;
  margin-left: -$grid-gutter;
  overflow: visible;
}

$thumbnail-size: ($main-width - $grid-gutter * 2) / 4.0;

%grid-item-component {
  width: percentage($thumbnail-size / ($thumbnail-size + $grid-gutter));    
}

.project {
  position: relative;
  float: left;
  width: percentage(1/4);
  //height: $thumbnail-size * 1.2;

  padding-top: $gutter;
  margin-top: -$gutter;
  margin-left: $grid-gutter;
  margin-right: -$grid-gutter;
  margin-bottom: $gutter;
  
  > .thumbnail {
    @extend %grid-item-component;
    
    display: block;
    position: relative;
    overflow: hidden;
    height: 80px;
    
    &:hover {
      opacity: 0.7;
    }
    
    img {
      position: relative;
      left: 50%;
      height: 80px;
      margin-left: - 250px;
    }
  }
}

.caption {
  @extend %grid-item-component;
  
  overflow : auto;
  height: 4.5em;
  min-height: 70px;
  margin-top: 14px;
  
  .summary {
    float: left;
    width: 82%;
  }
  
  p {
    font-size: $base-font-size - 1px;
    line-height: 1.5;
  }
  
  .line-wide {
    //position: absolute;
    margin-bottom: 0;
    bottom: $base-font-size + 8px;
  }
  
  .genre {
    //position: absolute;
    //bottom: 4px;
    margin-top: 4px;
    
    font-size: $base-font-size - 2px;
    color: lighten($common-text-gray, 15);
  }
  
  .arrow {
    
    float: right;
    width: 18%;
  }
  
  .icon {
    @extend %icon-right-circle;
    float: right;

    //margin-top: 0;
    padding-right: 5px;
    
    font-size: 18px;
    //color: $common-text-gray;
    color: $head-decoration-violet;
    //color: $common-violet;

    text-align: center;
  }
}

@media screen and(max-width: $main-width + $main-space-width * 2 - 1 - $thumbnail-size * 0){
  .project {
    width: percentage(1/3);

    a {
      height: 250px * 0.9;
      img {
        height: 250px * 0.9;
        margin-left: - 250px * 0.9;
      }
    }
  }
}

@media screen and(max-width: $main-width + $main-space-width * 2 - 1 - $thumbnail-size * 1){
  .project {
    width: percentage(1/2);
  }
}

@media screen and(max-width: $main-width + $main-space-width * 2 - 1 - $thumbnail-size * 2.7){
  #projects {
    margin-left: 0;
  }
  
  .project {
    width: 100%;
    //width: percentage($main-width / ($main-width + $gutter * 2));
    margin-left: 0;
    
    a {
      width: 100%;      
      height: 250px;
      img {
        height: 250px;
        margin-left: - 250px;
      }      
    }
    
    %grid-item-component {
      width: 100%;
    }
  }
  
  .caption {
    //width: percentage($thumbnail-size / ($thumbnail-size + $gutter)); 
    //width: percentage($main-width / ($main-width + $gutter * 2));
    width: 100%;
    height: auto;
    min-height: 0;
    
    p {
      margin: 0 auto;
    }
    
    .genre {
      position: static;
      margin-top: 2px;
    }
  }
}

$cell-size: $thumbnail-size - $gutter * 0.25;

#oss, .commits {
  float: left;
  
  li {
    width: 100%;
    float: left;
    margin-bottom: $gutter * 0.75;
    padding-bottom: $gutter * 0.5;
    border-bottom: 1px solid $common-line-gray;
    
    > div {
      float: left;
    }
  }
    
  @media screen and(max-width: $main-width * 0.65) {
    li {
      > div {
        float: none;
        margin-bottom: $gutter * 0.5;
      }
    }
  }
}

#commits-selected, #commits-rest {
  float: left;
  width: 100%;
}

.js #commits-rest {
  display: none;
}

.commits li {
  margin-bottom: $gutter * 0.25;
  padding-bottom: $gutter * 0.5;
}

.oss-title, .repo-full-name {
  float: left;
  width: $cell-size + $grid-gutter * 0.5;
  margin-right: $grid-gutter * 0.5;
  
  .icon {
    @extend .icon-angle-double-right;
    float: right;
    margin-right: $gutter;
  }
  
  @media screen and(max-width: $main-width + $main-space-width * 2 + $gutter) {
    margin-right: $gutter;
  }
  
  @media screen and(max-width: $main-width * 0.65) {
    width: 100%;
    
    .icon {
      display: none;
    }
  }
}

.repo-full-name {
  @media screen and(max-width: $main-width * 0.65) {
    font-size: $base-font-size - 1px;
  }
}

.oss-lang, .commit-type {
  float: left;
  width: $cell-size * 0.5;
  margin-right: $gutter;
  font-size: $base-font-size - 1px;
  color: $common-text-gray;
  
  @media screen and(max-width: $main-width + $main-space-width * 2 + $gutter) {
    float: none;
    width: $cell-size;
  }
}

.oss-description, .commit-title {
  float: left;
  width: 58%;
  font-size: $base-font-size - 1px;

  @media screen and(max-width: $main-width + $main-space-width * 2 + $gutter) {
    width: 60%;
  }

  @media screen and(max-width: $main-width * 0.65 + $gutter * 8) {
    width: 50%;
  }
  
  @media screen and(max-width: $main-width * 0.65) {
    width: 100%;
  }
}

.repo-title {
  float: left;
  
}

.commit-title {
  float: left;
  
  @media screen and(max-width: $main-width * 0.65) {
    font-size: $base-font-size;
  }
}

.repo-name {
  float: left;
}

#show-more-commits {
  float: left;
  display: none;
}

.js #show-more-commits {
  margin-top: $gutter * 0.5;
  display: block;
  color: $common-violet;
  
  span {
    padding-right: 0.5em;
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    };
  }
  
  .icon {
    @extend %icon-down-open;
  }
}
