@charset 'UTF-8';

$grid-gutter: $gutter * 2;

// TODO: グリッドのモジュール化
@mixin grid-parent {
  margin-left: -$grid-gutter;
}

@mixin grid-child($item-width) {
  float: left;

  width: 25%;

  margin-left: $grid-gutter;
  margin-right: -$grid-gutter;
  
  & > * {
    display: block;
    width: percentage($item-width / ($item-width + $grid-gutter));
  }
}

.projects {
  position: relative;
  margin-left: -$grid-gutter;
}

$thumbnail-size: ($main-width - $grid-gutter * 2) / 4.0;

.project {
  position: relative;
  float: left;
  width: percentage(1/4);
  height: $thumbnail-size * 1.35;

  margin-left: $grid-gutter;
  margin-right: -$grid-gutter;
  margin-bottom: $grid-gutter;
  
  & > * {
    display: block;
    width: percentage($thumbnail-size / ($thumbnail-size + $grid-gutter));    
  }
  
  a {
    overflow: hidden;
    
    img {
      position: relative;
      //float: left;
      //left: 250px;
      margin-left: - percentage($thumbnail-size / ($thumbnail-size + $grid-gutter)) * 0.5;
    }
  }
  
  .genre {
    position: absolute;
    bottom: 0;
    
    font-size: $base-font-size - 2px;
  }
}

.thumbnail {
  height: $thumbnail-size;
  background-color: gray;
}

@media screen and(max-width: $main-width + $main-space-width * 2 - 1 - $thumbnail-size * 0){
  .project {
    width: percentage(1/3);
  }
}

@media screen and(max-width: $main-width + $main-space-width * 2 - 1 - $thumbnail-size * 1){
  .project {
    width: percentage(1/2);
  }
}

@media screen and(max-width: $main-width + $main-space-width * 2 - 1 - $thumbnail-size * 2.75){
  .projects {
    margin-left: 0;
  }
  
  .project {
    margin-left: 0;
    width: 100%;
    
    & > * {
      width: 100%;      
    }
    
    a img {
      //left: 250px;
      margin-left: 0;
    }
  }
}

.summary {
}
