@import "compass/typography/vertical_rhythm";

// font-family alias
$sans-serif: Muli, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Times, serif;

// basic interval width between elements
$gutter: 24px;

$base-font-size: 15px;
$base-line-height: $base-font-size * 1.25;

// main content in the center
$main-width: 980px; // or 1080px
$main-space-width: $gutter * 3;

// theme colors
$background-white: #FEFEFE;
$common-white: $background-white + #010101;

$common-black: #292929;
$common-gray: #8F8F8F;
$common-violet: #8e44ad; //#a900d6; // or #C900FF; //or #b44c97;

$common-hover-violet: lighten(#9b59b6, 10);// #C8A9D6;
$common-line-violet: $common-hover-violet;

$common-text-gray: #727272;
$common-line-gray: #E1E1E1;

$head-decoration-violet: #bd8fd1;
$title-gray: #5a5a5a;

$footer-color: #F0F0F0;

@mixin image-shadow {
  box-shadow: 0 0 2px $common-text-gray;
  box-shadow: 0 0 1px rgba(155, 155, 155, 0.8);
  //border-radius: 4px;
}