@charset 'UTF-8';

#content {
  .top-title {
    // TODO: resize with media queries!
    $title-font-size: 42px;
    
    //margin-top: $gutter * 0.05;
    margin-bottom: $gutter * 1;
    // margin-left: $home-icon-size * 0.5;
    
    font-family: 'Open Sans', $sans-serif;
    font-size: $title-font-size;
    font-weight: 300;
    //letter-spacing: -0px;
    color: $common-black;
    
    .first-name {
      //font-weight: 300;
      color: darken($common-violet, 4);
      //color: $common-violet;
      margin-right: $gutter * 0.42;
    }
    
    .capital {
      // font-weight: 400;
      font-size: $title-font-size + 4px;
      // color: darken($common-violet, 2);
    }
    .family-name > .capital{
      letter-spacing: -2px;
    }
  }

  .top-subtitle {
    margin-bottom: $gutter;
    // margin-left: $home-icon-size * 0.5;

    font-family: 'Open Sans', $sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.0;

    color: #c8a9d5;
    //color: darken(#c8a9d5, 10);
    color: $common-gray;
    
    p {
      line-height: 1.32;
      
      .capital {
        font-size: 22px;
      }
    }
    
    .narrow-slash {
      letter-spacing: 1px;
      margin: 5px 3px;
      
      color: lighten($common-gray, 8);
    }
  }
  
  .full-width .line-wide {
    margin-bottom: $gutter * 1.5;
  }

  .page-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
    
    &+.page-subtitle {
      margin-bottom: 0;      
    }
  }

  .only-kana {
    letter-spacing: -0.1em;
  }

  .page-subtitle {
    font-family: $sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #c8a9d5;
    //color: darken(#c8a9d5, 10);
    color: gray;
  }
  
  .lead {
    color: $common-text-gray;
    font-size: $base-font-size - 1px;    
  }
  
  .featured-works {
    margin-bottom: $gutter * 2;
  }

  .wide-image {
    display: block;
    overflow: hidden;
    height: 240px;
    margin-bottom: $gutter * 0.5;
    line-height: 0;
    background-color: $common-black;
    
    img {
      position: relative;
      float: right;
      left: $main-width * 0.65 + 240px;
      margin-right: 65%;

      width: auto;
      max-width: $main-width;
      height: auto;
      min-height: 240px;

      //background: 0 0px gray image-url('openstudio.jpg') no-repeat;
      //background-size: cover;
      background-color: gray;
      //border: solid 0 rgba(255,255,255,.4);
    }

    @media screen and(max-width: $main-width){
      img {
        //width: 100%;
        max-width: none;
        height: 240px;
      }
    }
    
    .caption {
      position: relative;
      width: 240px;
      max-width: $main-width;
      height: 240px;
      background-color: $common-black;
      opacity: 0.8;
    }
  }
  
  .work-title {
    font-family: $sans-serif;
    font-size: $base-font-size + 2px;
    margin-bottom: 0.5em;
    
    @include adjust-leading-to(1);
    
    span {
      //border-bottom: solid 2px #ebddf2;
    }
  }
  
  .role {
    //float: left;
    margin-right: $gutter;
  }
}

#profile {
  margin-top: $gutter;
  
  .name {
    font-size: 10px;
  }
}
