.top {
  padding-top: $gutter * 2;
  
  * {
    text-align: center;
  }
  
  .full-width {
    padding-top: $gutter * 0.5;
  }
}

$logo-size: 60px;

#logo {
  width: $logo-size;
  height: $logo-size;

  background: image-url('logo.gif') transparent no-repeat;
  background-size: 100%;
  margin: $gutter * 2 auto 0 auto;
  
  .svg & {
    background-image: image-url('logo.svg');
  }
  .js & {
    background-position: 0px $logo-size;
  }
}

@mixin top-title-font-size($base-size) {
  #top-title {
    font-size: $base-size;
    .capital {
      font-size: $base-size * 1.125;
    }
  }
}

@include top-title-font-size(36px);

#top-title {
  margin-left: -6px;
  margin-top: $gutter * 0.5;
  margin-bottom: $gutter * 0.5;
  
  font-family: Roboto, 'Open Sans', $sans-serif;
  font-weight: 400;
  color: $common-black;
  //color: $common-violet;
  
  .first-name {
    // color: darken($common-violet, 2);
    margin-right: $gutter * 0.42;
  }
  
  .family-name > .capital{
    letter-spacing: -2px;
  }
}

@media screen and(max-width: $main-width){
  @include top-title-font-size(34px);
}
@media screen and(max-width: $main-width - 270){
  @include top-title-font-size(32px);
}

#top-subtitle {
  margin-bottom: $gutter * 2;

  //font-size: 21px; //old
  font-size: $base-font-size - 1px;
  line-height: 1.0;

  color: #c8a9d5;
  //color: darken(#c8a9d5, 10);
  color: $common-gray;
  
  p {
    line-height: 1.4;
    
    .capital {
      font-size: 22px;
    }
  }
  
  @media screen and(max-width: 540px){
    br {
      display: none;
    }
  }
  
  .narrow-slash {
    letter-spacing: 1px;
    margin: 5px 3px;
    
    color: lighten($common-gray, 8);
  }
}

section.full-width {
  max-width: none;
  margin-top: -$gutter * 0.5;
  margin-bottom: $gutter * 3;
  padding-left: 0;
  padding-right: 0;
    
  .inner {
    @extend %centered;
    width: auto;
  } 
}

#ribbon {
  display: none;
}

.js #ribbon {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 100;
  bottom: 0;
  height: 40px;
}

#left-ribbon, #right-ribbon {
  position: absolute;
  background-color: $common-violet;
  bottom: 0;
  width: 50%;
  height: 8px;
}

#left-ribbon {
  left: 0;
}

#right-ribbon {
  right: 0;
}

#scroll-down {
  @include icon-down;
  
  position: relative;
  
  margin: 0 auto;
  height: 32px;
  width: 60px;
  padding-top: 8px;
  cursor: pointer;
  
  background-color: $common-violet;
  //border-radius: 60px 60px 0 0 / 60px 60px 0 0;
  border-radius: 8px 8px 0 0 / 8px 8px 0 0;
  
  &:before {
    z-index: 101;
    font-size: 24px;
    color: $common-white;
  }
}

#page-title {
  margin-bottom: 24px;

  text-align: center;

  font-size: 22px;
  @media screen and(max-width: $main-width){
    font-size: 20px;
  }
  
  &+.page-subtitle {
    margin-bottom: 0;      
  }
}

.only-kana {
  letter-spacing: -0.1em;
}

.page-subtitle {
  text-align: center;
  font-family: $sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #c8a9d5;
  color: gray;
}

$featured-image-height: 240px;

.featured-works {
  margin-bottom: $gutter * 2.5;
  
  .js & {
    visibility: hidden;
    opacity: 0;
  }
}

.featured-works .line-wide {
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 0.25em;
  background-color: $common-line-gray;
}

.wide-image {
  display: block;
  overflow: hidden;
  height: $featured-image-height;
  margin-bottom: $gutter * 1;
  line-height: 0;
  
  .js & {
    width: 0;
  }
  
  $img-border-width: $gutter * 0.25;
  
  img {
    position: relative;
    float: right;
    left: 1080px * 0.5;
    margin-right: 50%;

    width: auto;
    max-width: 1080px;
    height: auto;
    min-height: $featured-image-height;
  }

  @media screen and(max-width: $main-width){
    img {
      //width: 100%;
      max-width: none;
      height: 240px;
    }
  }
}

.work-title {
  font-size: $base-font-size - 1;
  margin-bottom: 0.25em;
}

.role {
  font-size: $base-font-size - 3px;
  margin-right: $gutter;
  color: $common-text-gray;
  
}

#profile {
  margin-top: $gutter;
  
  .name {
    font-size: 10px;
  }
}
