@charset 'UTF-8';

#content {
  .top-title {
    font-family: 'Open Sans', $sans-serif;
    font-size: 48px;
    font-weight: 400;
    //letter-spacing: -0px;
    //margin-bottom: $gutter * 2;
    margin-bottom: 0;
    color: $common-black;
    
    //@include leader(1, 48px);
  }

  .top-subtitle {
    font-family: 'Open Sans', $sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.0;
    margin-bottom: $gutter * 0.5;

    color: #c8a9d5;
    //color: darken(#c8a9d5, 10);
    color: gray;
    
    p {
      //line-height: 1.75;
    }
  }

  .page-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 6px;
    
    &+.page-subtitle {
      margin-bottom: 0;      
    }
  }

  .only-kana {
    letter-spacing: -0.1em;
  }

  .page-subtitle {
    font-family: $sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #c8a9d5;
    //color: darken(#c8a9d5, 10);
    color: gray;
  }
  
  .lead {
    color: $common-text-gray;
    font-size: $base-font-size - 1px;    
  }

  .featured-works {
    margin-bottom: $gutter * 2;
  }

  .wide-image {
    display: block;
    overflow: hidden;
    height: 240px;
    margin-bottom: $gutter * 0.5;
    line-height: 0;
    
    img {
      position: relative;
      float: right;
      left: $main-width * 0.5;
      margin-right: 50%;

      width: auto;
      max-width: $main-width;
      height: auto;
      min-height: 240px;

      //background: 0 0px gray image-url('openstudio.jpg') no-repeat;
      //background-size: cover;
      background-color: gray;
      border: solid 0 rgba(255,255,255,.4);
    }

    @media screen and(max-width: $main-width){
      & {
        img {
          //width: 100%;
          max-width: none;
          height: 240px;
        }
      }
    }
  }
  
  .work-title {
    font-family: $sans-serif;
    font-size: $base-font-size + 2px;
    margin-bottom: 0.5em;
    
    @include adjust-leading-to(1);
    
    span {
      border-bottom: solid 2px #ebddf2;
    }
  }
  
  .role {
    //float: left;
    margin-right: $gutter;
  }
}

#go {
  position: relative;
  overflow: visible;
  text-align: right;
  height: 0px;
  z-index: 10;
}

#profile {
  margin-top: $gutter;
  
  .name {
    font-size: 10px;
  }
}
