@charset 'UTF-8';

$sans-serif : "Helvetica Neue", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$serif : "Times", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;

$gutter : 24px;

$default-font-size: 15px;

$common-white: #FEFFFF;
$common-black: #0F0F0F;
$common-azure: #4EA4EA;

@import "reset";
@import "elements";
@import "webfont";

#container{
  position: absolute; // 必要
}

header{
}


@import "mediaqueries";

