@charset 'UTF-8';

$sans-serif : "Helvetica Neue", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$serif: "Times", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;

$gutter: 24px;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@import "compass/typography/vertical_rhythm";

$base-font-size: 15px;

$base-line-height: $base-font-size * 1.25;

$main-width: 1080px;
//$main-width: 1200px;

$footer-height: 180px;

$common-white: #FEFFFF;
$common-gray: #FCFDFC;
$common-black: #1F1F1F;

$common-text-gray: #727272;

//$common-violet: #C900FF;
$common-violet: darken(#C900FF, 8);

@import "normalize";
@import "elements";
@import "webfont";
@import "griddle";

@include griddle-build(2);

%centered {
  margin: 0 auto;
  width: 100%;
  max-width: $main-width;
  padding-left: $gutter * 2;
  padding-right: $gutter * 2;
  overflow: auto;
  
  // 左右の padding の分も考慮
  @media screen and(max-width: $main-width + ($gutter * 2) * 2){
    & {
      width: auto;
    }
  }
  @media screen and(max-width: 680px){
    & {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
}

%text {
  line-height: 1.75;
}

// フッターを最下部に持っていくため必須
html, body {
  height: 100%;
}

body {
  font-size: $base-font-size;
}

#container {
  position: relative;

  width: 100%;
  
  height: auto !important;
  height: 100%;
  min-height: 100%;
  
  background: $common-gray;
  // background: #ebddf2;

  font-family: $sans-serif;
  color: $common-black;
  
  a {
    color: $common-black;
  }
}

header{
  width: 100%;
}

#menubar {
  @extend %centered;
  padding-top: $gutter * 4;
  //padding-bottom: $gutter;
}

$home-icon-size: 50px;

#menu {
  height: $home-icon-size;
  font-family: 'Open Sans', $sans-serif;

  a {
    display: block;
    float: left;
    margin-right: $gutter;
    margin-left: 0;
    padding-bottom: 2px;
    
    font-size: $base-font-size + 2px;
    
    border-bottom: solid 2px #ebddf2;
  }
  
  #home {
    background: $common-violet;
    width: $home-icon-size;
    height: $home-icon-size;
    // 
    margin-top: -$home-icon-size + ($base-font-size + 2px) + 2px + 2px;
    padding-bottom: 0;
    border-bottom: none; 
  }
}

#webservices {
  float: right;
  
  a {
    margin-right: 0;
    margin-left: $gutter;
    font-size: $base-font-size + 5px;
    border-bottom: none;
  }
  
  .github {
    margin-top: -38px + $base-font-size;
    font-size: 38px;
  }

  .twitter {
    margin-top: -32px + $base-font-size;
    font-size: 32px;
  }
}

.github {
  @extend .icon-github;
}
.twitter {
  @extend .icon-twitter;    
}

main {
  width: 100%;
  height: auto;
  min-height: 100%;
  
  margin-top: $gutter * 2;
  padding-bottom: $footer-height;
}

#content {
  @extend %centered;
  
  padding-bottom: $gutter;
  
  section {
    float: left;
    margin-bottom: $gutter * 1.5;
    width: 100%;
    
    a {
      //text-decoration: underline;
      color: #b728cc;
    }
    
    h1, h2, h3 {
      font-family: 'Open Sans', $sans-serif;
      font-weight: normal;
    }
    
    h1 {
      font-size: $base-font-size + 12px;
      margin-bottom: 0.75em;
      // color: $common-text-gray;
    }
    
    p {
      line-height: 1.75em;
    }
    
    hr {
      height: 0;
      margin-bottom: 1em;
      border: none;
    }
    
    .role {
      font-size: $base-font-size - 1px;
      color: $common-text-gray;
    }
  }
}

.line-wide {
  width: 100%;
  height: 2px;
  background-color: #c8a9d5;
  //background-color: transparent;
  background-color: #F0F0F0;
  //background-color: $common-violet; // bad...
  margin-bottom: $gutter * 0.5;
}

.columns {
  width: 100%;
  // font-size: $base-font-size - 1px;

  .two-column {
    float: left;
    box-sizing: border-box;
    
    width: 50%;
    min-width: 350px;
    padding-right: $gutter * 0.5;
    
    &+.two-column {
      float: left;
      padding-right: $gutter * 0.5;
    }
  }
}

.header-rect {
  display: block;
  float: left;
  width: 6px;
  height: 1em;
  margin-right: 8px;
  background-color: #bd8fd1;
}

.inline-icon {
  display: block;
  margin-top: 8px;
  font-size: $base-font-size;
  
  &:before {
    font-size: $base-font-size + 10px;
    margin-right: 0.25em;
  }
}

.skills+.skills {
  margin-top: 0.75em;
}

.skill-code {
  margin-bottom: 0.5em;
  
  @extend .icon-code;
  &:before {
    font-size: $base-font-size - 2px;
    color: #c8a9d5;
    margin-right: 0.5em;
  }
}

.skill-other {
  font-size: $base-font-size + 1px;
  margin-bottom: 0.5em;
  
  @extend .icon-star;
  &:before {
    color: #c8a9d5;
    margin-right: 0.5em;
  }
}

.read-more {
  font-size: $base-font-size - 1px;
}

footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: $footer-height;

  background-color: #F0F0F0;
}

#colophon {
  @extend %centered;
  
  margin-top: $gutter;

  p, a {
    color: $common-text-gray;
  }
  
  a {
    display: block;
  }
  
  p {
    @extend %text;
  }
}

#footer-menu, #contact, #email {
  margin-bottom: 0.25em;
}

#license {
  p, a {
  }
}

@import "top";

@import "mediaqueries";

