$common-typeface-serif: "Times", "Georgia", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$common-typeface-sansserif : "Helvetica Neue", "Verdana", "Genova", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

*{
  border-radius: 0 !important;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: $common-typeface-sansserif;
}

h1,h2,h3,h4, .lead{
  font-family: $common-typeface-serif;  
}

table a{
  font-family: $common-typeface-sansserif;
}

.well{
  background-color: #fcfcfc;
}

.sidebar-nav{
  padding: 12px 0;
  background: none;
  & li a{
    //color: red;
  }
}

.dropdown-menu{
  //border: 0;
  box-shadow: none;
}

.dropdown > .dropdown-menu{
  //display: block;
}

.nav > .dropdown-menu{
  display: list-item;
}