script.
  !function(G,h,p,a,g,e){G.GoogleAnalyticsObject=a,G[a]||(G[a]=function(){(G[a].q=G[a].q||[]).push(arguments)}),G[a].l=+new Date,g=h.createElement(p),e=h.getElementsByTagName(p)[0],g.src="//www.google-analytics.com/analytics.js",e.parentNode.insertBefore(g,e)}(window,document,"script","ga"),ga("create","UA-36461297-9","shinnn.github.io"),ga("send","pageview");