- function concatTitle(joinStr) {
-   var res = '' + site.title;
-   if (title) {
-     res = title + ' ' + joinStr + ' ' + res;
-   }
-   return res;
- };

- var joinedKeywords = (function() {
-   var res = ''
-   if (Array.isArray(site.keywords)) {
-     res = site.keywords.join(',')
-   } else {
-     res = site.keywords;
-   }

-   return res;
- }());

- function htmlPath(path) {
-   return '/' + (path? path: '');
- }

- function getProject(projName) {
-   return projects.filter(function(proj){ return proj.name === projName; })[0];
- }

//- ref: http://stackoverflow.com/questions/1349404/
//- generate-a-string-of-5-random-characters-in-javascript
- function randStr() {
-   return Math.random().toString(36).substring(14);
- }

- function compareDate(a, b) {
-    return new Date(a.date) - new Date(b.date);
-}