extend layout

block inner
  
  //- block の外で project の値を求めると、name の値が未定義なのでエラーとなる
  - var project = projects.filter(function(proj){ return proj.name === fileName; })[0];
  
  section
    h1.page-title informatics
    .line-wide
  
  section
    ul.bxslider
      - for(var i=0; i < project.imageFileNum; i++)
        li
          img(src='/img/projects/' + fileName + '/' + i + '.jpg')
  
  block content
  