---
template: project-single
---

p 魚群の動きを再現した映像を鑑賞できるMac OS X用アプリケーションです。マイクからの音声入力を行っており、音が鳴るとそれに反応して逃げ去るような動きをします。
p
  | 魚群は
  span(itemscope, itemtype='http://schema.org/ScholarlyArticle')
    span(itemprop='name') ボイド理論
    meta(itemprop='url', content='http://www.red3d.com/cwr/boids/')
  | に調整を加えたアルゴリズムに基づいて集合、整列、分散します。
p
  | 2013年8月下旬から9月上旬にかけて開催された
  a(
  href='http://www.scf-web.net/', target='_blank',
  itemscope, itemtype='http://schema.org/Festival')
    span(itemprop='name') 新宿クリエイターズフェスタ
  | に出展し、
  span(itemscope, itemtype='http://schema.org/Hotel')
    span(itemprop='name') 京王プラザホテル
  | 1階通路の壁面にプロジェクションするかたちで展示を行いました。プロジェクターを5台使用し、全長約30mのスペースの中で魚群を投影しました。公共空間での展示であり、通行者の興味を早く引き、短時間での鑑賞でも楽しんでもらえるようにするため、「魚の群れが、通行者の発する音に驚いて逃げる」という、シンプルなインタラクションを採用しました。
