---
template: project-single
---

p 武蔵野美術大学デザイン情報学科のオープンキャンパス期間中に行ったワークショップです。3つのスイッチを押すことによってLEDの光の色が変化する簡易玩具を、来場者に制作してもらいました。所謂古典美術などだけではない、多様なことを美術大学では行っているということを知ってもらうため、あまり美術大学らしくない内容のワークショップを開くことにしました。
p 会場に掲示するポスターの制作も行いました。