extends /jade/templates/project-single
block content

  p
    span(itemscope, itemtype='http://schema.org/CollegeOrUniversity')
      span(itemprop='name') 武蔵野美術大学造形学部
      meta(itemprop='url', content='http://dipale.musabi.ac.jp/g11/')
      span(itemprop='department' itemscope itemtype='Organization')
        span(itemprop='name') デザイン情報学科
    | の、2011年度
    span(itemscope, itemtype='http://schema.org/VisualArtsEvent')
      | 卒業研究・制作展
      meta(itemprop='url', content='http://dipale.musabi.ac.jp/g11/')
    | のWebサイトです。スクロールでページ内を行き来するシングルページデザインのサイトです。
    a(href='https://developer.mozilla.org/docs/Web/Guide/API/DOM/Manipulating_the_browser_history', target='_blank') History API
    | を利用し、ブラウザ履歴の進む／戻る操作に合わせて、URLと表示位置が一致するように自動スクロールします。
  p
    | 全出展者の情報を管理するため、作品名や説明文などを入力してもらうための出展者向けページを用意しました。
    span(itemscope, itemtype='http://schema.org/SoftwareApplication')
      span(itemprop='name') PostgreSQL
    | を用いてデータベースを設計し、そこに登録されたデータを基に、各出展者の情報を本サイトで出力しています。
