---
template: project-single
---

p 東京芸術大学新港校舎で行われた展示会「OPEN STUDIO 2013」のWebサイトです。水平スクロールのシングルページデザインのサイトです。パララックスの手法を採用し、ページのスクロールに合わせて背景写真が左右に移動します。
p 横にスクロールするサイトでは多くの場合、「コンテンツの縦の長さがウィンドウの縦の長さを超える」場合の対処の仕方が問題になります。本サイトではウィンドウサイズが一定以下の大きさになった際に、スクロール方向ごと変更して縦スクロールサイトとして再レイアウトする、という大胆な方法で、その問題に対処しています。
