---
template: project-single
name: react
---

p ブラウザで動作するリッチオーディオコンテンツを実現するための手段として期待されるHTML5 Web Audio APIの習作として制作したWebアプリケーションです。クリックした位置にキャラクターが生成され、BGMに合わせて動き廻ります。キャラクター同士がぶつかると別の音が発生し、そのたびにキャラクターが成長していきます。
p
  | リズムに合わせた操作を実現するために、Gruntでのビルドの際に
  a(href='http://aubio.org/', target='_blank') aubio
  | を用いたビートディテクションを行い、リズム情報をJSONデータとして書き出し利用しています。