---
title: About
---

extends /jade/templates/default
block content

  section
    h1#page-title 渡邉 伸之介

  section
    #introduction
      p 渡邉伸之介は、主にプログラミングとユーザーインターフェイス・デザインを行う者です。JavaScript、HTML、CSS（および、それらを生成する言語）による、Webサイト、Webアプリケーションの開発を得意としています。
      p
        |  ここ一年ほどは、タスクランナーを用いた開発の効率化に関する技術に興味を持ち、そのためのプラグインの開発、およびほかの開発者のプロジェクトへのコミットを行っています。作成したソフトウェアは随時
        a(href='https://github.com/shinnn?tab=repositories', target='_blank')
          | Githubで公開しています
        | 。
      p デザインについては、WebサイトのUIデザインを主に行います。一方で、Arduinoなどのフィジカルコンピューティングに関する技術を用いてのインタラクティブコンテンツの制作も行います。

  section
    h1
      span.header-rect
      span.only-kana リンク
  
    ul#accounts
      each account in accounts 
        li
          .key= account.service_name
          .value
            a(href= account.url, target='_blank')= account.user_name

  section.about
    h1
      span.header-rect
      span.only-kana スキル
    ul.skills.skill-code
      each skill in skills.programming
        li
          .icon
          div= skill
  
    ul.skills.skill-other
      each skill in skills.others
        li
          .icon
          div= skill
