---
template: default
title: About
---

block content
  section
    h1.page-title 渡邉 伸之介
    .line-wide

  //-section
    p 神奈川県横浜市に在住し、Webサイト制作、ライブラリ開発、ユーザーインターフェースデザイン、インタラクティブコンテンツ制作などを行っています。
    
  section
    h1
      span.header-rect
      | 来歴
  
    table
      tr
        td.key 1988年
        td.value 新潟県で生まれる      
      tr
        td.key 2008年 4月
        td.value 武蔵野美術大学造形学部 デザイン情報学科 入学
      tr
        td.key 2012年 3月
        td.value 同大学 卒業
      tr
        td.key 2012年 4月 -
        td.value 東京芸術大学大学院映像研究科 メディア映像専攻 在学中

  section
    h1
      span.header-rect
      span.only-kana リンク
    
    p Github shinnn
    p Twitter shinnn_tw
    p Qiita shinnn
    p メール snnskwtnb@gmail.com
  
  section
    h1
      span.header-rect
      span.only-kana スキル
  
    ul.skills
      li.skill-code JavaScript (client side + Node.js)
      li.skill-code CoffeeScript
      li.skill-code Responsive web design, cross-browser fallbacks
      li.skill-code HTML5 (semantic markup, audio/graphical rich contents)
      li.skill-code CSS / Sass
      li.skill-code PHP
      li.skill-code RDBMS (PostgreSQL)
      li.skill-code C++ (with openFramworks)
      li.skill-code Arduino

    ul.skills
      li.skill-code Perl (a bit)
      li.skill-code ActionScript 3.0 (a bit)
            
    ul.skills
      li.skill-other グラフィック / UI デザイン
      li.skill-other タイポグラフィ（日本語 / 英語）
      li.skill-other 映像撮影・編集 / 写真撮影・加工
      li.skill-other 音声録音・編集
