---
template: default
---

block content
  section.full-width
    .inner
      h1.top-title
        span.first-name
          span.capital S
          | hinnosuke
        span.family-name
          span.capital W
          | atanabe
        //-span.t
          | <br>a web developer
          span.narrow-slash /
          | designer, and user interface designer
      //-p.top-subtitle Software Engineer, User Interface Designer
      .top-subtitle
        p.
            Webフロントエンド開発／デザイン、ユーザーインターフェースデザイン、<br>インタラクティブコンテンツ制作などを行う渡邉伸之介のウェブサイトです。
        //p
          span.capital W
          | eb&#32;
          span.capital D
          | eveloper
          span.narrow-slash /
          span.capital D
          | esigner
        //p
          span.capital U
          | ser&#32;
          span.capital I
          | nterface&#32;
          span.capital D
          | esigner
    //-.line-wide

   //-.columns
    section.two-column
      //-h1
        span.header-rect
        | About
      
      //- レスポンシブデザインを見せるために半カラムのモノがあった方が良い
      p.lead Webサイト制作、ライブラリ開発、ユーザーインターフェースデザイン、インタラクティブコンテンツ制作などを行う渡邉伸之介のウェブサイトです。
      hr
      
      //- いきなりほかのサイトに誘導するのはおかしい
      
      //-p
        a(href='https://github.com/shinnn/shinnn.github.io') 本ウェブサイト
        | のほか、ソフトウェアの開発成果は随時Githubに公開しています。
      hr
      //-p
        a.github.inline-icon(href='https://github.com/shinnn?tab=repositories') Github リポジトリ一覧
      
  section
    //-h1
      span.header-rect
      | Projects

    .featured-works
      a.wide-image(href= htmlPath('projects/openstudio.html'))
        img(src='/img/openstudio-large.jpg', alt='')
        .caption
          div.back
          div.front
            p 東京芸術大学<br>OPEN STUDIO 2013<br>Webサイト
      h2.work-title
        span 東京芸術大学 成果発表会 OPEN STUDIO 2013 Webサイト
      //.role フロントエンド開発 / ユーザーインターフェースデザイン
      hr.line-wide

    .featured-works
      a.wide-image(href= htmlPath('projects/musabi-degreeshow.html'))
        img(src='/img/g11-large.jpg', alt='')
        .caption
          div.back
          div.front
            p 武蔵野美術大学<br>デザイン情報学科<br>卒業研究・制作展 '11<br>Webサイト
      h2.work-title
        span 武蔵野美術大学デザイン情報学科 卒業研究・制作展 '11 Webサイト
      //.role フロントエンド・バックエンド開発 / ユーザーインターフェースデザイン
      hr.line-wide

    .featured-works
      a.wide-image(href= htmlPath('projects/wave.html'))
        img(src='/img/wave-large.jpg', alt='')
        .caption
          div.back
          div.front
            p Wave to Wave
      h2.work-title
        span Wave to Wave
      //.role 電子工作 / インタラクションデザイン
      hr.line-wide

    .featured-works
      a.wide-image(href= htmlPath('projects/aquarium.html'))
        img(src='/img/aquarium-large.jpg', alt='')
        .caption
          div.back
          div.front
            p ひかりひらり水族館
      h2.work-title
        span ひかりひらり水族館
      //.role グラフィックプログラミング
      hr.line-wide
    
    p
      a(href=htmlPath('projects.html'))
        | 全てのプロジェクト 
        span.icon-angle-double-right
