---
template: default
---

block content
  section
    h1.top-title Shinnosuke Watanabe
    p.top-subtitle Software Engineer, User Interface Designer
    .line-wide

   .columns
    section.two-column
      //-h1
        span.header-rect
        | About
      
      //- レスポンシブデザインを見せるために半カラムのモノがあった方が良い  
      
      p.lead Webサイト制作、ライブラリ開発、ユーザーインターフェースデザイン、インタラクティブコンテンツ制作などを行う渡邉伸之介のウェブサイトです。
      hr
      
      //- いきなりほかのサイトに誘導するのはおかしい
      
      //-p
        a(href='https://github.com/shinnn/shinnn.github.io') 本ウェブサイト
        | のほか、ソフトウェアの開発成果は随時Githubに公開しています。
      hr
      //-p
        a.github.inline-icon(href='https://github.com/shinnn?tab=repositories') Github リポジトリ一覧
      
    //- section.two-column
      //-h1
        span.header-rect
        | Skill Set
      .skills
        .skill-code JavaScript (Client Side / Node.js)
        .skill-code CoffeeScript
        .skill-code HTML5
        .skill-code CSS / Sass / Compass
        .skill-code PHP
        .skill-code C++ (openFramworks)
        .skill-code Arduino
      .skills
        .skill-other ユーザーインターフェース・デザイン
        .skill-other タイポグラフィ（日本語 / 英語）
        .skill-other 映像撮影・編集 / 写真撮影・加工
      hr
      p
        a.read-more >> スキルセットの詳細

  section
    h1
      span.header-rect
      | Projects
    .featured-works
      a.wide-image(href='')
        img(src='img/openstudio.jpg')
      h2.work-title 東京芸術大学 成果発表会 OPEN STUDIO 2013 ウェブサイト
      .role プログラミング / ユーザーインターフェースデザイン
      
    .featured-works
      a.wide-image(href='')
        img(src='img/R0012670.JPG')
      p 東京芸術大学 OPEN STUDIO 2013 ウェブサイト
    .wide-image
    p 東京芸術大学 OPEN STUDIO 2013 ウェブサイト
    .wide-image
    p 東京芸術大学 OPEN STUDIO 2013 ウェブサイト

  //-section#profile
    h1 渡邉 伸之介
    h2 来歴
    p 1988年生まれ
    p 2012年 武蔵野美術大学造形学部 デザイン情報学科 卒業
    p 東京芸術大学大学院映像研究科 メディア映像専攻 在学中
  
    h2 スキル
    ul
      li JavaScript
      li CoffeeScript