---
template: default
title: Projects
---

block content
  section
    h1.page-title.only-kana プロジェクト
    //-.line-wide
  
  section
    div.projects
      each proj in projects
        div.project
          a(href= 'projects/' + proj.name + '.html')
            - var _ext = proj.image_format || 'jpg'
            img.thumbnail(src= '/img/projects/thumbnails/' + proj.name + '.' + _ext)
          .summary
            p.name= proj.short_title || proj.title
            p.genre= proj.genre.join(', ')
