#prev-project-button, #next-project-button {
  position: absolute;
  width: 0;
  height: 100px;
  border-bottom: 1px solid;
  top: 0;
}

#prev-project-button {
  left: 0;
}

#next-project-button {
  right: 0;
}
